<html>
	<head>
		<title>
			Pizzeria Web
		</title>
	</head>

	<body bgcolor="#2ECCFA">
		<center>
			
			<h1>
				Pizzeria en Linea	
				<br>
				<br>
				Consultar Pedido
			</h1>	

			<label>
			Numero de Factura:	<input type="search">
			</label>

			<br>
			<br>
			<button style="font-size:20px">
				Buscar
			</button>
			<br>
			<br>
			<br>

			<!--TABLA************ -->
		<table class="egt" border="1" style="font-size:40px">
  			<tr>
    			<th>Pizza</th>
    			<th>Precio</th>
    			<th>Cantidad</th>
    			<th>Total</th>
  			</tr>
  			<tr>
    			<td> Pizza 4</td>
    			<td> $10 </td>
    			<td> 2</td>
    			<td>$20</td>
  			</tr>
  			<tr>
    			<td> Pizza Tradicional</td>
    			<td> $7.50</td>
    			<td> 3</td>
    			<td> $22.50</td>
  			</tr>
  			<tr>
    			<td> </td>
    			<td> </td>
    			<td>Total</td>
    			<td> $42.50</td>
  			</tr>
		</table>

		<!--*****************FIN TABLA************ -->

			<br>
			<br>
			<br>
			<label>
			Estado Pedido:	<input type="text">
			</label>

			<br>
			<br>
			<button style="font-size:20px">
				Salir
			</button>
			<br>
			<br>
			<br>





		</center>

	</body>


</html>