<html>
	<head>
		<title>Pizzeria Web</title>
	</head>

	<body>
		<body bgcolor="#2ECCFA">
		<center>
			<h1>
				<font size=7 >Pizzeria en Linea</font> 
				<br>
				<br>
				Menu
				<br>
				<br>
				Realizar Pedido
			</h1>
		


		<!--<input type="text" value="texto dentro del control" id="texto"-->


		<!--Esta-->
		
		<img src="imagenes/pizza4.png" style="width:400; height:300">
		<br>Pizza 4 
		<br>Precio: $10		
		<br><button style="font-size:25px">
			Agregar
		</button>
		<br>
		<br>
		<br>
		

		<img src="imagenes/pizzap.jpg" style="width:400; height:300">
		<br>Pizza Personal 
		<br>Precio: $5		
		<br><button style="font-size:25px">
			Agregar
		</button>
		<br>
		<br>
		<br>

		<img src="imagenes/pizzat.jpg" style="width:400; height:300">
		<br>Pizza Tradicional 
		<br>Precio: $7.50		
		<br><button style="font-size:25px">
			Agregar
		</button>
		<br>
		<br>
		<br>


		<!--PERSONALIZAR PIZZA-->
		<h1>
		Personalizar Pizza
		<br>
		<br>	
		Aqui podra seleccionar una pizza como base y agregarle ingredientes adicionales

		<br><button style="font-size:25px">
			Agregar Pizza Personalizada
		</button>


		</h1>




		<!--PEDIDO REALIZADO-->
		<h1>
			<br>
			<br>
			Pedido Realizado: 

		</h1>

		<!--Tabla -->
		<table class="egt" border="1" style="font-size:40px">
  			<tr>
    			<th>Pizza</th>
    			<th>Precio</th>
    			<th>Cantidad</th>
    			<th>Total</th>
  			</tr>
  			<tr>
    			<td> Pizza 4</td>
    			<td> $10 </td>
    			<td> 2</td>
    			<td>$20</td>
  			</tr>
  			<tr>
    			<td> Pizza Tradicional</td>
    			<td> $7.50</td>
    			<td> 3</td>
    			<td> $22.50</td>
  			</tr>
  			<tr>
    			<td> </td>
    			<td> </td>
    			<td>Total</td>
    			<td> $42.50</td>
  			</tr>
		</table>
		</h1>

		<br><button style="font-size:25px">
			Finalizar y Registrar
		</button>



		





	</body>
</html>