{% extends 'pages:ConsultarPedido.html' %}
{% block content %}
			<table class="egt" border="1" style="font-size:40px">
				<tr>
					<th>Pizza</th>
    				<th>Precio</th>
    				<th>Cantidad</th>
					<th>Total</th>
				</tr>
				<tr>
					{%if detalle %}
					{% for deta in detalle %}
					<td>{{ deta.cod_pedido }}</td>
    				<td> {{ deta.fec_pedido }} </td>
    				<td> 2</td>
    				<td>$20</td>
					{% endfor %}
					{% else %}
					<td>Pizza</td>
    				<td>10</td>
					<td> 2</td>
					<td>$20</td>
					{% endif %}
			</table>
		<!--*****************FIN TABLA************ -->

			<label>
			Estado Pedido:	<input type="text" readonly="True">
			</label>

			<br>
			<br>
			<button style="font-size:20px">
				Salir
			</button>
			<br>
			<br>
			<br>





		</center>
{% endblock %}